<nav class="navbar">
        <div class="nav-wrapper">DANNYGRAM 
        <div class="d-flex align-items-center">
      </div>
      <div class="nav-items">
        <a href="/">
          <img class='icon' src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png"/>
        </a>
        <a href="/posts/new"> 
          <img class='icon' src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png"/>
        </a>
        <div class="icon user-profile"></div>
      </div>
    </div>
</nav>

