
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://i.imgur.com/vJ6xEFz.png" alt="" width="24" height="24" class="logo">
          Dannygram
        </a>
        <a href="/"> <img class='home' src="https://cdn-icons-png.flaticon.com/512/846/846449.png"/></a>
    <a href="/posts/new"> <img class='add' src="https://cdn-icons.flaticon.com/png/512/3161/premium/3161837.png?token=exp=1651244882~hmac=2d279ac705ace1bab8934d4c41836231"/></a>
  </div>
</nav>

