<nav class="navbar">
  <div>
    <a href="/"> <img class='home' src="https://cdn-icons-png.flaticon.com/512/263/263115.png"/></a>
    <span> </span>
    <a href="/posts/new"> <img class='add' src="https://cdn-icons.flaticon.com/png/512/3161/premium/3161837.png?token=exp=1651244882~hmac=2d279ac705ace1bab8934d4c41836231"/></a>
  </div>
</nav>
